@model UI.Models.JourViewModel
@using System.Globalization;

<p>Mois sélectionné : @CultureInfo.CurrentCulture.DateTimeFormat.GetMonthName((int)ViewBag.MoisSelectionne)</p>



<p>Mois sélectionné : @CultureInfo.CurrentCulture.DateTimeFormat.GetMonthName((int)ViewBag.MoisSelectionne)</p>

<ul>
    @{
        DateTime premierJourDuMois = new DateTime(2024, ViewBag.MoisSelectionne, 1);
        int joursDansLeMois = DateTime.DaysInMonth(2024, ViewBag.MoisSelectionne);
        int premierJourSemaine = (int)premierJourDuMois.DayOfWeek;
        premierJourSemaine = (premierJourSemaine == 0) ? 7 : premierJourSemaine; // Correction pour que Dimanche soit 7

        // Boucle pour les jours du mois
        for (int jour = 1; jour <= joursDansLeMois; jour++)
        {
            <li>
                @if (ViewBag.MoisSelectionne == 2 && joursDansLeMois == 29)
                {
                    @CultureInfo.CurrentCulture.DateTimeFormat.GetDayName((DayOfWeek)((jour + premierJourSemaine - 1) % 7)) @jour
                }
                else
                {
                    @CultureInfo.CurrentCulture.DateTimeFormat.GetDayName((DayOfWeek)((jour + premierJourSemaine - 2) % 7)) @jour
                }
            </li>
        }
    }
</ul>
</ul>

